@import './variables.scss';

.navbar {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 60px;
  left: 0;
  padding: 0 50px;
  position: fixed;
  top: 0;
  width: 100vw;

  .logo {
    flex-grow: 1;
  }

  & > a {
    margin: 0 20px;
    padding: 2px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 0 15px;

    & > a {
      margin: 0 8px;
    }
  }
}

.views {
  margin-top: 60px;
}
